
@charset "UTF-8";
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/


/* RESETEO CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}


/* INICIA CSS */

html{
  background-color: rgb(245, 239, 238);
  margin: 20px;
}

html, body {
  box-sizing: border-box;
  }
  *, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  overflow-x: hidden;  
  }


#container{
  width:100%;
  height:100%;
 
  }

  section{
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      margin: 0 ;
      overflow: hidden;
      position: relative;
      
  }



/* BARRA DE MENÚ */

nav{
  background-color: rgb(122, 0, 0);
  margin: 0 auto;
  position: fixed;
  z-index: 1;
  }
     
  ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  }
     
  li {
  display: flex;
  justify-content: space-between;

  }
     
  li a {
  display: flex;
  justify-content: space-around;
  color: rgb(255, 170, 170);
  text-align: center;
  padding: 14px 50px;
  text-decoration:none;
  }
     
  li a:hover {
  background-color:rgba(194, 192, 192, 0.363);
  width: 100%;
  }

  #logo1{
    float: right;
    margin-right: 20px;
    margin-top: 2px;
    width:20%;
  }

#imagenprincipal{
    position: fixed;
    width: 100%;
    height: auto;
    z-index: -1000; 
      
}

#frasemedia{
  font-family: 'Poppins', sans-serif;
  color: #b98802;
  font-size: 100px;
  line-height: normal;
  margin-left: 370px;
  margin-top:200px;
  z-index: -1000; 
  
}



/* EMPIEZA SECCIÓN 2*/


#parte2{
    display:grid;
    grid-template-columns:repeat(10,10%);
    grid-template-rows:repeat(4,25%);
}


#imagen1{
    grid-column:2/6;
    grid-row: 2;
    text-align: justify;
    margin-right:40%;
    margin-top: 30%;   
    border-radius:50%; 
}


#imagen2{
    margin-top: 60%;
    grid-column: 7/9;
    grid-row: 2;
    border-radius:50%;
}

#fotografía{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    grid-column:2/8;
    grid-row: 2/5;
    margin-left: 80px;
    margin-top: 43%;    
}


#ilustracion{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    grid-column: 7/9;
    grid-row: 2;
    margin-top: 340px;
    margin-left: 80px;
}


/* EMPIEZA GALERIA DE FOTOGRAFÍA */

#galeria{
    display: grid;
    grid-template-columns:repeat(10,10%);
    grid-template-rows:repeat(10,10%);
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
    }

    #titulo1{
        color: #530000;
        font-family: 'Poppins', sans-serif;
        font-size:400%;
        grid-row: 4;
        grid-column: 4/9;
        
        margin-top: 200px;
        margin-bottom: 100px;
        letter-spacing:.6rem
        }

#slider1{
grid-column: 3/9;
grid-row: 6/10; 
margin-bottom: 200px;
            }
            

#slider1 img{
    width:30%;
    margin:1.2%;
    
}



/* EMPIEZA PARTE DE ILUSTRACIÓN */

#ilustracion1{
    display:grid;
    grid-template-columns:repeat(10,10%);
    grid-template-rows:repeat(10,10%);
}

#titulo2{
    color: #530000;
    font-family: 'Poppins', sans-serif;
    font-size:400%;
    grid-row: 1;
    grid-column: 4/9;
    margin-bottom: 100px;
    letter-spacing:.6rem
    }

#ilustracion1{
    margin-top: 40px;
    grid-column: 2/5;
    grid-row: 6/10;    
}   

#video1{
    grid-column: 6/10;
    grid-row: 6/10; 
    margin-bottom: 100px; 
}



#ilustracion2{
    display:grid;
    grid-template-columns:repeat(10,10%);
    grid-template-rows:repeat(10,10%);
    margin-bottom: 70px;
}

#ilustracion2{
    grid-column: 8/9;
    grid-row: 6/10; 
    
}   

#video2{
    margin-top: 50px;
    grid-column: 2/3;
    grid-row: 6/10;  
    
}






/* FOOTER 2*/


footer{
  font-family: 'Poppins', sans-serif;
  background-color:rgb(122, 0, 0);
  color:rgb(255, 170, 170);
  height: 40px;
}

p{
  margin: 15px;
  font-size: 16px;
}



